@font-face {
    font-family: myLogoFont;
    src: url(Originals\ is\ Out.ttf);
}
.upButtons{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    font-size: 2em;
    color: rgb(254, 255, 215);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(58, 58, 58);
    margin-left: 5px;
    border-radius: 10px;
}
#buttonContainer{
    margin-right: 200px;
    padding: 10px;
    background-color: grey;
    width: 100%;
    border-radius: 20px;
}
body{
    background-image: repeating-linear-gradient(
        90deg, rgb(255, 253, 137), rgb(255, 219, 141) 1%, rgb(255, 251, 137) 2%
    );
}
#logo{
    font-family: 'myLogoFont';
    font-size: 2em;
    color: black;
}
nav{
  margin-left: 5px;
}
a {
    text-decoration: none;
    color: inherit; /* Optional: inherit color from parent element */
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: myLogoFont;
}
#aboutp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
}
img:not(.profileimage){
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 5%;
}
p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.profiles{
    margin: auto;
    display: flex;
    margin-bottom: 30px;
    width: 700px;
    max-width: 99%;
    height: 15em;
    background-color: rgb(113, 113, 113);
    border-radius: 10px;
}
.profiles .titleprofile{
    display: block;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profiles .profileimage{
    display: block;
    padding: 10px;
    min-width: 60px;
    width: 50%;
    border-radius: 5%;
    order: 0;
}
.text-content {
    white-space: nowrap;
    display: block;
    flex: 0;
    margin: auto;
}

.profile-list{
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


